MNEMONIC=your_wallet_mnemonic_here

# bot
BOT_TOKEN=your_telegram_bot_token_here
CHAT_ID=your_telegram_chat_id_here

# database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=cosmos_voting_bot
DB_USER=postgres
DB_PASSWORD=your_database_password
